// Color Variables
$blue: hsl(173, 100%, 65%);
$green: hsl(120, 100%, 65%);
$darkblue: hsl(226, 60%, 75%);
$grey: #ddd;

%black-border {
  border: 1px solid black;
}

%display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%selected {
  background: linear-gradient(93deg, $blue 0%, $green 100%);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

%grid-align-center {
  display: grid;
  text-align: center;
  align-items: center;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  width: 100%;

  @media (max-width: 767px) {
    min-width: 800px;
    max-width: 1000px;
  }
}

.app-header {
  min-height: 33vh;
}

.app-body {
  @extend %display-flex-wrap;
  padding-top: 10px;
}

button {
  border: none;
  outline: none;
  font-size: 1rem;
}

.sem-select {
  display: flex;
  justify-content: space-evenly;
  margin: 10px unquote("min(20px, 5%)");

  .dropdown {
    border: none;
    font-size: 1rem;
    background: transparent;
  }

  .sems {
    @extend %display-flex-wrap;
    width: 100%;
    justify-content: space-evenly;

    .sem {
      background: $grey;
      border-radius: 25px;
      padding: 5px 20px;

      &.active {
        @extend %selected;
      }
    }
  }
}

.button {
  padding: 6px 2px 6px 10.5px;
  background: $grey;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;

  svg {
    margin: 0px 10px;
    background-color: transparent;
  }
}

.subjects,
.teachers,
.batches {
  @extend %display-flex-wrap;

  .subject,
  .teacher,
  .batch {
    margin: 5px 10px;
  }
}

.subject {
  background: $blue;
  letter-spacing: 0.05ch;
}

.teachers {
  margin: 10px 0px;
}

.teacher {
  background: $green;
}

.batch {
  background: $darkblue;
  padding-right: 10px;
}

.add-subject {
  background: hsl(173, 100%, 65%);
  padding: 6px 10px;
}

.add-teacher {
  background: hsl(120, 100%, 65%);
  padding: 6px 10px;
}

.timetable {
  @extend %black-border;
  border-collapse: collapse;
  table-layout: fixed !important;
  min-width: 100%;

  span {
    @extend %black-border;
    @extend %grid-align-center;
    overflow: hidden;
  }

  .tr {
    display: flex;
    height: 9vh;
  }

  .th {
    word-break: break-word;
    hyphens: auto;
    font-size: 15px;
    font-weight: bold;
  }

  .td {
    font-size: 14px;
    hyphens: auto;
    white-space: pre;
  }
}
