// Color Variables
$color1: #4dffea;
$color2: #cd9fff;
$color3: #fd8248;
$color4: #f5f514;
$grey: #ddd;

%black-border {
  border: 1px solid black;
}

%display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

%selected {
  background: linear-gradient(93deg, $color1 0%, $color4 100%);
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

%grid-align-center {
  display: grid;
  text-align: center;
  align-items: center;
}

%header-svg-white {
  svg {
    margin-left: 5px;

    path {
      stroke: white;
      stroke-width: 1.5px;
    }
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  // width: 100%;

  @media (max-width: 767px) {
    min-width: 800px;
    max-width: 1000px;
  }
}

.app-header {
  height: 40vh;
  overflow: auto;
}

.app-body {
  min-width: 100%;
  overflow-x: auto;
  padding-top: 10px;
}

button {
  border: none;
  outline: none;
  font-size: 1rem;
}

.params-select {
  display: flex;
  margin: 10px unquote("min(20px, 5%)");

  .dropdowns {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
  }

  .dropdown {
    border: none;
    font-size: 1rem;
    background: transparent;
  }

  .term-changer,
  .year-changer {
    padding: 5px 15px 5px 5px;
  }

  .sems {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .sem {
      background: $grey;
      border-radius: 25px;
      padding: 5px 20px;

      &.active {
        @extend %selected;
      }
    }
  }

  .download {
    background-color: #019e1b;
    color: white;

    @extend %header-svg-white;
  }

  .clear {
    margin-left: 40px;
    background-color: crimson;
    color: white;

    @extend %header-svg-white;
  }
}

.button {
  padding: 6px 10px;
  background: $grey;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;

  svg {
    margin-left: 10px;
    background-color: transparent;
  }
}

.subjects,
.teachers,
.batches,
.rooms {
  @extend %display-flex-wrap;

  .subject,
  .teacher,
  .batch,
  .room {
    margin: 5px 15px;
    letter-spacing: 0.02ch;
  }

  h4 {
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    line-height: 0em;
    margin: 10px 0;

    span {
      background: #fff;
      padding: 0 10px;
    }
  }
}

.subject {
  background: $color1;
}

.teacher {
  background: $color2;
}

.batch {
  background: $color3;
  padding-right: 10px !important;
}

.room {
  background: $color4;
  padding-right: 10px !important;
}

.add-subject {
  background: $color1;
  padding: 6px 11px !important;
}

.add-teacher {
  background: $color2;
  padding: 6px 11px !important;
}

.timetable {
  @extend %black-border;
  border-collapse: collapse;
  min-width: 100%;

  tr {
    display: flex;
    min-height: 8vh;
  }

  th {
    @extend %black-border;
    @extend %grid-align-center;
    word-break: break-word;
    hyphens: auto;
    font-size: 15px;
    font-weight: bold;
  }

  td {
    @extend %black-border;
    @extend %grid-align-center;
    text-align: center;
    font-size: 14px;
    hyphens: auto;
    white-space: pre-wrap;
  }
}
