%black-border {
  border: 1px solid black;
}

%display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Roboto;
}

body {
  height: 100vh;
  width: 100%;
}

button {
  border: none;
  outline: none;
  font-size: 1rem;
}

.sem-select {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;

  .dropdown {
    margin-left: unquote("min(40px, 5%)");
    border: none;
    font-size: 1rem;
  }

  .sems {
    width: 100%;
    @extend %display-flex-wrap;
    justify-content: space-evenly;

    .sem {
      background: #c4c4c4;
      border-radius: 25px;
      padding: 5px 20px;

      &.active {
        background: linear-gradient(93.36deg, #77fcec 0%, #77fe84 100%);
        font-weight: bold;
      }
    }
  }
}

.button {
  padding: 6px 2px 6px 10.5px;
  background: linear-gradient(93.36deg, #77fcec 0%, #77fe84 100%);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;

  svg {
    margin: 0px 10px;
    background-color: transparent;
  }
}

.subjects {
  @extend %display-flex-wrap;
  align-items: flex-start;

  .subject {
    margin: 5px 20px;
  }
}

.app-body {
  @extend %display-flex-wrap;
  margin-top: 20px;
}

.teachers {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .teacher {
    margin: 10px 0px;
  }
}

.timetable {
  @extend %black-border;
  border-collapse: collapse;
  flex-grow: 2;

  th {
    @extend %black-border;
  }

  td {
    @extend %black-border;
  }
}
